<h2>Enter some words to replace</h2>
<table>
    <tr>
        <th>Old word</th>
        <th>New word</th>
        <th></th>
    </tr>
    <tr ng-repeat="word in words">
        <td><input type='text' ng-model='words[$index].replace' /></td>
        <td><input type='text' ng-model='words[$index].with' /></td>
        <td><input type='button' ng-click='homeCtrl.deleteRow($index)' ng-show='homeCtrl.showDelete()' value='Remove' /></td>
    </tr>
</table>
<input type='button' ng-click='homeCtrl.addNewWord()' value='Add word' />

<br />
<br />

<input type='button' ng-click='homeCtrl.generate()' value='Generate' />

<br />
<br />