<h2>{{bookTitle}}</h2>
<div class="home-left">
    <div class="mobile-muwords">
        <a ng-click="enterWordsCtrl.toggleMuWords()" ng-show="!showMostUsedWords">+ Most used words</a>
        <a ng-click="enterWordsCtrl.toggleMuWords()" ng-show="showMostUsedWords">- Most used words</a>
        <table class="muWords" ng-show="showMostUsedWords">
            <tr ng-repeat="word in mostUsedWords" class="mobile-muword-row">
                <td class="muword-cell"><p class="muword">{{word.word}}</p></td>
                <td class="muword-cell"><p class="muword">{{word.count}}</p></td>
                <td  class="mobile-muword-button">
                    <input type='button' 
                        value='+' 
                        ng-click='enterWordsCtrl.addMostUsedWord(word.word)' 
                        ng-show='enterWordsCtrl.wordAdded(word.word)'
                        class='form-button' />
                </td>
            </tr>
            <tr>
                <td><a href='' ng-click='enterWordsCtrl.previous()' ng-show='enterWordsCtrl.showPrevious()'>Previous</a></td>
                <td></td>
                <td><a href='' ng-click='enterWordsCtrl.next()' ng-show='enterWordsCtrl.showNext()'>Next</a></td>
            </tr>
        </table>
    </div>
    <div class="desktop-muwords">
        <p>Most used words</p>
        <table>
            <tr ng-repeat="word in mostUsedWords" class="muWords">
                <td class="muword-cell"><p class="muword">{{word.word}}</p></td>
                <td class="muword-cell"><p class="muword">{{word.count}}</p></td>
                <td>
                    <input type='button' 
                        value='>' 
                        ng-click='enterWordsCtrl.addMostUsedWord(word.word)' 
                        ng-show='enterWordsCtrl.wordAdded(word.word)'
                        class='form-button' />
                </td>
            </tr>
            <tr>
                <td><a href='' ng-click='enterWordsCtrl.previous()' ng-show='enterWordsCtrl.showPrevious()'>Previous</a></td>
                <td></td>
                <td><a href='' ng-click='enterWordsCtrl.next()' ng-show='enterWordsCtrl.showNext()'>Next</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="home-right">
    <p>Replace some words</p>
    <table>
        <tr>
            <th>Old word</th>
            <th>New word</th>
            <th></th>
        </tr>
        <tr ng-repeat="word in words">
            <td class="tabWord"><input type='text' ng-model='words[$index].replace' class='field' /></td>
            <td class="tabWord"><input type='text' ng-model='words[$index].with' class='field' /></td>
            <td class="tabButton"><input type='button' ng-click='enterWordsCtrl.deleteRow($index)' ng-show='enterWordsCtrl.showDelete()' value='X' class='form-button' /></td>
        </tr>
        <tr>
            <td><input type='button' ng-click='enterWordsCtrl.addNewWord()' value='Add word' class='button' /></td>
            <td></td>
        </tr>
    </table>
    
    <br />
    <br />
    <input type='button' ng-click='enterWordsCtrl.generate()' value='Generate' class='button'/>
</div>
<br />
<br />