<div class="home-left">
    <p>Most used words</p>
    <table>
        <tr ng-repeat="word in mostUsedWords">
            <td class="muword">{{word.word}}</td>
            <td class="muword">{{word.count}}</td>
            <td>
                <input type='button' 
                    value='>' 
                    ng-click='homeCtrl.addMostUsedWord(word.word)' 
                    ng-show='homeCtrl.wordAdded(word.word)'
                    class='button' />
            </td>
        </tr>
        <tr>
            <td><a href='' ng-click='homeCtrl.previous()' ng-show='homeCtrl.showPrevious()'>Previous</a></td>
            <td></td>
            <td><a href='' ng-click='homeCtrl.next()' ng-show='homeCtrl.showNext()'>Next</a></td>
        </tr>
    </table>
</div>
<div class="home-right">
    <p>Replace some words</p>
    <table>
        <tr>
            <th>Old word</th>
            <th>New word</th>
            <th></th>
        </tr>
        <tr ng-repeat="word in words">
            <td><input type='text' ng-model='words[$index].replace' class='field' /></td>
            <td><input type='text' ng-model='words[$index].with' class='field' /></td>
            <td><input type='button' ng-click='homeCtrl.deleteRow($index)' ng-show='homeCtrl.showDelete()' value='X' class='button' /></td>
        </tr>
        <tr>
            <td><input type='button' ng-click='homeCtrl.addNewWord()' value='Add word' class='button' /></td>
            <td></td>
        </tr>
    </table>
</div>

<br />
<br />

<input type='button' ng-click='homeCtrl.generate()' value='Generate' class='button'/>

<br />
<br />