<!DOCTYPE html>
<html ng-app="app">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/services/wordService.js"></script>
  <script src="scripts/controllers/homeController.js"></script>
  <script src="scripts/controllers/resultsController.js"></script>
  
  <link href="style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="w-container container">
    <h1 class="logo">SHAMBLE</h1>
    <div class="w-clearfix">
      <div class="beta-line"></div>
      <p class="join">Create your story</p>
      <div class="beta-line"></div>
      <br />
      <div ng-view class="content-wrapper"></div>
    </div>
  </div>
</body>
</html>